*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', 'sans-serif';
}

a, a:link, a:visited{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-size: 16px;
  color: #111;
}


/* 공통 --------------------- */

.container{
  width: 1080px;
  margin: 0 auto;
}

section{
  font-family: 'Pretendard', 'sans-serif';
  padding: 3.75rem 0  3.75rem 0;
}

section:nth-child(2n){
  background-color: #f8f8f8;
}

section .title h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 3.75rem 0;
}

/* header ---------------------- */

header{
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: rgba(255,255,255,.7);
  width: 100%;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -1%;
  color: #333;
  padding: 11px 0;
}

header nav ul{
  display: flex;
  gap: 16px;
}

header nav ul li button{
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -1%;
  color: #767676;
  padding: 11px 0;
}

.menu-btn{
  display: none;
  width: 24px;
  height: 24px;
}

/* main ------------------------- */

main{
  width: 100%;
  height: 100vh;
  background-image: url(./images/frame-1.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center
}

main::before{
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
  background-color: rgba(255,255,255,.7);
}

main .container {
  position: relative;
  z-index: 1;
}

main .pc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
}

main h1{
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1%;
  color: #333;
}

main p{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -1%;
  color: #767676;
}

main .mobile{
  display: none;
}

/* section about me-------------- */

.about .about-self{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.about .about-self .right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.about .right h2{
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -1%;
  line-height: 160%;
  color: #333;
}

.about .right .right-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about .right .right-content p{
  font-size: 1.25rem;
  font-weight: 400;
  color: #767676;
  line-height: 160%;
  letter-spacing: -1%;
}

.about .right button{
  font-size: 1.25rem;
  font-weight: 400;
  color: #007AFF;
  line-height: 160%;
  letter-spacing: -1%;
  margin-top: 2rem;
}

.about .personal-history{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.about .PH{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.about .PH h2{
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -1%;
  line-height: 160%;
  color: #333;
}

.about .PH p{
  font-size: 1.25rem;
  font-weight: 400;
  color: #767676;
  line-height: 160%;
  letter-spacing: -1%;
}

.about .img img{
  margin-top: 3.75rem;
}

.about .mobile{
  display: none;
}

/* portfolio------------------------ */

.portfolio .title{
  text-align: center;
}

.portfolio .title .more{
  display: none;
}

.portfolio .m-portfolio-scroll{
  display: none;    
}

.portfolio .portfolio-list{
  display: flex;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  gap: 5rem 1.5rem;
}

.portfolio .portfolio-list .portfolio-inner{
  width: 48.888%;
}

.portfolio .portfolio-list .portfolio-inner img{
  width: 100%;
  height: 258px;
  object-fit: cover;
  border: 1px solid rgba(115,115,115,0.3);
  border-radius: 15px;
}

.portfolio .portfolio-list .portfolio-inner strong{
  display: block;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1%;
  color: #333;
  margin-top: 1.25rem;
}

.portfolio .portfolio-list .portfolio-inner p{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -1%;
  color: #767676;
}

/* contact --- ---- ----- */

.contact{
  padding: 0;
}

.contact .content{
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  width: 100%;
  height: 100vh;
}

.contact strong{
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1%;
  color: #333;
}

.contact h1{
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1%;
  color: #333;
}

.contact p{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -1%;
  color: #333;
}

.contact button{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -1%;
  color: #007AFF;
}

.contact .m-contact{
  display: none;
}

@media screen and (max-width:375px) {
  html{
    font-size: 12px;
  } 

  .container{
    width: 100%;
  }

  header{
    width: 100%;
    height: 56px;
    padding: 16px 2rem;
    background: none;
    position: absolute;
  }

  header .container{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    
  }

  header h1, nav{
    display: none;
  }

  .menu-btn{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('./images/bars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* main */

  main{
    background-image: url(./images/mobile\ main.png);
    width: 100%;
    height: 500px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  main::before{
    display: none;
  }

  main h1:nth-of-type(1){
    font-size: 20px;
    line-height: 120%;
    font-weight: 300;
    color: #fff;
  }

  main h1:nth-of-type(2){
    font-size: 50px;
    line-height: 120%;
    font-weight: 600;
    color: #fff;
  }

  main .content{
    display: none;
  }

  main .mobile{
    display: flex;
    gap: 8px;
    margin-bottom: 48px;
    margin-top: 2.5rem;
  }

  main .mobile p{
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
    letter-spacing: -2.5%;
    border: 1px solid #fff;
    padding: 0.3rem 1rem;
    border-radius: 100px;
  }

  .about .title{
    display: none;
  }

  .about .about-self{
    display: none;
  }

  .about .personal-history{
    display: none;
  }

  /* mobile about me */
  .about .mobile{
    display: flex;
    flex-direction: column;
  }

  .about .m-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 8px;
  }

  .about .m-title h1{
    font-size: 2rem;
    letter-spacing: -2.5%;
    line-height: 140%;
    font-weight: 600;
  }

  .about .m-title p{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -2.5%;
    line-height: 160%;
    color: #767676;
  }

  .about-card-wrapper{
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-bottom: 32px;
  }

  .about-card {
    width: 158px;
    background: #F7F7FB;
    padding: 16px;
    border-radius: 12px;
    text-align: left;
  }

  .about-card img {
    width: 44px;
    margin-bottom: 17px;
  }

  .about-card h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4px;
    color: #767676;
  }

  .about-card p {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 140%;
  }

  .about-btn {
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid #eee;
    background: none;
    cursor: pointer;
    align-self: center;
    color: #767676;
    margin-bottom: 55px;
  }

  /* portfolio */
  .portfolio{
    padding: 90px 0;
  }

  .portfolio .container{
    width: 327px;
  }

  .portfolio .title{
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 24px;
  }

  .portfolio .title h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .portfolio .title .more{
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    display: block;
  }

  .portfolio .portfolio-list{
    display: none;
  }

  .portfolio .m-portfolio-scroll{
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .portfolio .m-portfolio-card{
    background-image: linear-gradient(to bottom, 
      rgba(0,0,0,0) 40%, 
      rgba(0,0,0,0.25) 100%
    ),
    url('./images/portfolio.png');
    width: 230px;
    height: 287px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 20px 32px;
  }

  .portfolio .m-portfolio-card strong{
    display: block;
    margin-bottom: 4px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }

  .portfolio .m-portfolio-card p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }

  /* contact */

  

  .contact .content{
    display: none;
  }

  .contact .m-contact{
    padding: 100px 0;
    display: block;
  }

  .contact .m-contact h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
  }

  .contact .m-contact .m-line{
    width: 327px;
    height: 1px;
    background-color: #eee;
    margin: 12px 0 24px 0;
  }

  .contact .m-contact .m-contact-item{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
  }

  .contact .m-contact-item p{
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  .contact .container{
    width: 375px;
    margin: 0 24px;
  }
/* 수정 1 */
}

